{% extends 'base.html' %}
{% block content %}
    <h2>Evolução de Horas/Aula</h2>
    <table>
        <tr>
            <th>Matéria</th>
            <th>Horas Cumpridas</th>
            <th>Carga Horária Total</th>
            <th>Progresso</th>
        </tr>
        {% for hr in horas %}
        <tr>
            <td>{{ hr.materia }}</td>
            <td>{{ hr.realizadas }}h</td>
            <td>{{ hr.total }}h</td>
            <td style="width: 30%;">
                <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 24px; position: relative;">
                    {% set percent = (hr.realizadas / hr.total * 100) %}
                    <div style="background-color: #ba1a1a; width: {{ percent }}%; height: 100%; border-radius: 5px;"></div>
                    <span style="position: absolute; width: 100%; text-align: center; top: 2px; left: 0; font-size: 14px; font-weight: bold; color: {% if percent > 50 %}white{% else %}black{% endif %};">
                        {{ percent | round(1) }}%
                    </span>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}